<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Yabetse Genene">
  <title>Chereka Edit</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900&display=swap"
    rel="stylesheet">
  <link href="/css/editor.css" rel="stylesheet">
</head>

<body>
  <div class="editor">
    <div class="top-menu">
      <div class="logoContainer">
        <img src="/SVG/logo.svg" width="40" />
      </div>
      <span class="luna_name">luna</span>
      <div class="top_actual_menu">
        <button class="pill-button" id="edtr-sidebar-toggle">
          <i class="fas fa-bars"></i>
          <span class="pill-btn-txt">sidebar toggle</span>
        </button>
        <button class="pill-button edtr-toggle topbar_buttons">
          <i class="fas fa-pen-alt toggleIcon"></i>
          <span class="pill-btn-txt">toggle edit</span>
        </button>
        <button class="pill-button edtr-save topbar_buttons">
          <i class="far fa-compass saveIcon"></i>
          <span class="pill-btn-txt">save</span>
        </button>
        <button class="pill-button edtr-upload topbar_buttons">
          <i class="fas fa-file-upload uploadIcon"></i>
          <span class="pill-btn-txt">upload</span>
          <input type="file" id="actualFileBtn">
        </button>
        <button class="pill-button edtr-export topbar_buttons">
          <i class="fas fa-file-export exportIcon"></i>
          <span class="pill-btn-txt">export</span>
        </button>
        <button class="pill-button edtr-lang topbar_buttons">
          <i class="fas fa-language languageIcon"></i>
          <span class="pill-btn-txt">lu-ሉ</span>
        </button>
      </div>
    </div>
    <div class="editor-tools">
      <button type="button" class="txt-edit-tool" id="edtr-bold">
        <i class="fa fa-bold"></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-italic">
        <i class="fa fa-italic"></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-underline">
        <i class="fa fa-underline"></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-strikethrough">
        <i class="fa fa-strikethrough"></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-justify-full">
        <i class="fa fa-align-justify"></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-justify-center">
        <i class="fa fa-align-center"></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-justify-left">
        <i class="fa fa-align-left"></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-justify-right">
        <i class="fa fa-align-right"></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-undo">
        <i class="fa fa-undo"></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-redo">
        <i class="fa fa-redo"></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-subscript">
        <i class="fa fa-subscript"></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-superscript">
        <i class="fa fa-superscript "></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-link">
        <i class="fa fa-link "></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-unlink">
        <i class="fa fa-unlink"></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-indent">
        <i class="fa fa-indent"></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-outdent">
        <i class="fa fa-outdent "></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-orderedList">
        <i class="fa fa-list-ol"></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-unorderedList">
        <i class="fa fa-list-ul"></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-header">
        <i class="fa fa-heading "></i>
        <select class="selection" id="edtr-heading-selection">
          <option>
          </option>
          <option>
            H1
          </option>
          <option>
            H2
          </option>
          <option>
            H3
          </option>
          <option>
            H4
          </option>
          <option>
            H5
          </option>
          <option>
            H6
          </option>
        </select>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-image">
        <i class="fa fa-file-image"></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-media">
        <i class="fas fa-file-video"></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-select-all">
        <i class="fas fa-mouse-pointer"></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-table">
        <i class="fas fa-table"></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-checklist">
        <i class="fas fa-tasks"></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-source-code">
        <i class="fa fa-code"></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-horizontal-line">
        <i class="fas fa-grip-lines"></i>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-case">
        <span class="edtr-case-text">Aa</span>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-highlight">
        <i class="fas fa-highlighter"></i>
        <input type="color" value="#4497CB" id="edtr-actual-hilight">
      </button>
      <input type="color" value="#BFBFBF" id="edtr-color">
      <button type="button" class="txt-edit-tool" id="edtr-font">
        <i class="fa fa-font"></i>
        <select class="selection" id="font-selection">
          <option>
          </option>
          <option value="Tahoma">
            Tahoma
          </option>
          <option value="Arail">
            Arial
          </option>
          <option value="Mistral">
            Mistral
          </option>
          <option value="Courier">
            Courier
          </option>
          <option value="Times New Roman">
            Times New Roman
          </option>
          <option value="Helvetica Neue">
            Helvetica Neue
          </option>
        </select>
      </button>
      <button type="button" class="txt-edit-tool" id="edtr-font-size">
        <i class="fa fa-text-height"></i>
        <select class="selection" id="size-selection">
          <option>
          </option>
          <option>
            1
          </option>
          <option>
            2
          </option>
          <option>
            3
          </option>
          <option>
            4
          </option>
          <option>
            5
          </option>
          <option>
            6
          </option>
          <option>
            7
          </option>
        </select>
      </button>
    </div>
    <div class="editor-content-container ">
      <img src="/SVG/logo_off_white.svg" class="luna_logo" width="240px" />
      <iframe class="editor-content" name="editorContent"></iframe>
    </div>
    <div class="sidebar hiddenSidebar">
      <button class="pill-button edtr-sidebar-back">
        <i class="fas fa-arrow-left toggleIcon"></i>
        <span class="pill-btn-txt">back</span>
      </button>
      <button class="pill-button edtr-toggle">
        <i class="fas fa-pen-alt toggleIcon"></i>
        <span class="pill-btn-txt">toggle edit</span>
      </button>
      <button class="pill-button edtr-save">
        <i class="far fa-compass saveIcon"></i>
        <span class="pill-btn-txt">save</span>
      </button>
      <button class="pill-button edtr-upload">
        <i class="fas fa-file-upload uploadIcon"></i>
        <span class="pill-btn-txt">upload</span>
        <input type="file" id="actualFileBtn">
      </button>
      <button class="pill-button edtr-export">
        <i class="fas fa-file-export exportIcon"></i>
        <span class="pill-btn-txt">export</span>
      </button>
      <button class="pill-button edtr-lang">
        <i class="fas fa-language languageIcon"></i>
        <span class="pill-btn-txt">lu-ሉ</span>
      </button>
    </div>
  </div>
  <div class="popupContainer">
    <div class="inner" id="new-file-popup">
      <h1 class="popup-heading">New File </h1>
      <p class="popup-message">Open new editor window</p>
    </div>
    <div class="inner" id="save-popup">
      <h1 class="popup-heading">Save </h1>
      <p class="popup-message">Hey there! save your work before you lose it</p>
    </div>
    <div class="inner" id="upload-popup">
      <h1 class="popup-heading">Upload </h1>
      <p class="popup-message">Start where you left from. Upload your previous save</p>
    </div>
    <div class="inner" id="export-popup">
      <h1 class="popup-heading">Export </h1>
      <p class="popup-message">Export your work to selected formats.</p>
    </div>
    <div class="inner" id="lang-popup">
      <h1 class="popup-heading">Convert </h1>
      <p class="popup-message">Convert pig-latin-english to Amharic</p>
    </div>
    <div class="inner" id="edit-popup">
      <h1 class="popup-heading">Editor </h1>
      <p class="popup-message">Interact with your work by toggling edit mode</p>
    </div>
  </div>
  <!--  modals  -->
  <div class="modal hide" id="edtr-enter-link">
    <div class="popup">
      <div class="header">
        <h3 class="header-title"> Enter link </h3>
      </div>
      <div class="messageContainer">
        <input class="modal_input" type="url" placeholder="http://" id="link_entry_input"
          required>
      </div>
      <div class="footer">
        <button type="button" class="modalButton" id="setLink">
          Set Link
        </button>
        <button type="button" class="modalButton cancel" id="cancel">
          Cancel
        </button>
      </div>
    </div>
  </div>
  <div class="modal hide" id="save-to-cloud">
    <div class="popup">
      <div class="header">
        <h3 class="header-title header-title-large"> Save your work </h3>
      </div>
      <div class="contentContainer">
        <div class="modal-menu-option">
          <i class="fab fa-google-drive modal-icon-large"></i>
          <span class="modal-menu-txt">Drive</span>
        </div>
        <div class="modal-menu-option">
          <i class="fab fa-dropbox modal-icon-large"></i>
          <span class="modal-menu-txt">Drop box</span>
        </div>
        <div class="modal-menu-option">
          <i class="fas fa-laptop modal-icon-large"></i>
          <span class="modal-menu-txt">Locally</span>
        </div>
      </div>
      <div class="footer" style="display: block; text-align: right;">
        <button type="button" class="modalButton cancel" id="cancel-stc">
          Cancel
        </button>
      </div>
    </div>
  </div>
  <div class="modal hide" id="exprot-file">
    <div class="popup">
      <div class="header">
        <h3 class="header-title header-title-large"> Export File </h3>
      </div>
      <div class="contentContainer">
        <div class="modal-menu-option" id="edtr-export-markdown">
          <i class="fab fa-markdown modal-icon-large"></i>
          <span class="modal-menu-txt">Mark Down</span>
        </div>
        <div class="modal-menu-option" id="edtr-export-pdf">
          <i class="fas fa-file-pdf modal-icon-large"></i>
          <span class="modal-menu-txt">PDF</span>
        </div>
        <div class="modal-menu-option" id="edtr-export-html">
          <i class="fas fa-code modal-icon-large"></i>
          <span class="modal-menu-txt">HTML</span>
        </div>
      </div>
      <div class="footer" style="display: block; text-align: right;">
        <button type="button" class="modalButton cancel" id="cancel-exp">
          Cancel
        </button>
      </div>
    </div>
  </div>
  <div class="modal hide" id="eng-to-amh-notice">
    <div class="popup">
      <div class="header">
        <h3 class="header-title header-title-large"> Notice! </h3>
      </div>
      <div class="contentContainer" style="display: block;">
        <p class="edtr-notice-paragraph">
          The conversion functionality included may not be accurate as it doesn't use any type
          of Neural Machine transation. It follows a simple rule based phoneme substituiton.
          This means it provides a set of choices based on the predictions it calculates.
        </p>
      </div>
      <div class="footer" style="display: block; text-align: right; margin-top: 10px">
        <button type="button" class="modalButton" id="continueConversion">
          Continue / ኮኦንቲኑ
        </button>
        <button type="button" class="modalButton cancel" id="cancel-lang">
          Cancel / ካንስል
        </button>
      </div>
    </div>
  </div>
  <script src="/js/editor.js"></script>
  <script src="/js/englishToAmharic.js"></script>
</body>

</html>
